<div class = "pt-table-wrap" ng-app = "ptcms">
    <h4 class = "pt-msg-title"><b class = "f-fl">单页管理</b></h4>
    <div class = "pt-list" ng-controller = "showlist">
        <form method = "post" action = "__URL__/multi" id="showtable">
            <input type = "hidden" name = "method" />
            <div class = "pt-list-header">
                <div class = "pt-list-operate f-fl">
                    <a class = "btn btn-success btn-sm" href = '__URL__/add'>添加</a>
                    <input type = "submit" class = "btn btn-primary btn-sm btn-checkbox" value = "排序" name = "reorder">
                    <input type = "submit" class = "btn btn-primary btn-sm btn-checkbox" value = "禁用" name = "forbidden">
                    <input type = "submit" class = "btn btn-primary btn-sm btn-checkbox" value = "恢复" name = "recover">
                    <input type = "submit" class = "btn btn-danger btn-sm btn-checkbox" value = "删除" name = "mdel">
                </div>
                <div class = "f-fr">
                    <input ng-model = 'keyword' class = "input-text w160" type = "text" onkeypress="if(event.keyCode==13) {return false;}"/>
                    <input type = "button" class = "btn btn-default btn-sm" value = "搜索" />
                </div>
                <div class = "f-clear"></div>
            </div>
            <table class = "pt-list-table">
                <thead>
                <tr>
                    <th class = "w-checkbox"><input type = "checkbox" class = "checkall" data = "id[]" ></th>
                    <th >单页名称</th>
                    <th style="width:100px;">单页key</th>
                    <th class = "w-word3">排序</th>
                    <th class = "w-word5">创建人</th>
                    <th class = "w-time">创建时间</th>
                    <th class = "w-word5">修改人</th>
                    <th class = "w-time">修改时间</th>
                    <th class = "w-word3">状态</th>
                    <th class = "operate w-operate2">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat = "loop in lists | filter:keyword">
                    <td><input type = "checkbox" name = "id[]" value = "{{loop.id}}"></td>
                    <td class = "f-tal">{{loop.name}}</td>
                    <td>{{loop.key}}</td>
                    <td>
                        <input type = "text" name = "ordernum[{{loop.id}}]" value = " {{loop.ordernum}}" class = "input-text f-tac" style = "width:40px;"  onkeypress="if(event.keyCode==13) {return false;}"/>
                    </td>
                    <td>{{loop.create_username}}</td>
                    <td>{{loop.create_time}}</td>
                    <td>{{loop.update_username}}</td>
                    <td>{{loop.update_time}}</td>
                    <td>
                        <span class = "label label-warning" ng-if = "loop.status==0" ng-click = "changestatus($index,1)">禁用</span>
                        <span class = "label label-success" ng-if = "loop.status==1" ng-click = "changestatus($index,0)">正常</span>
                    </td>
                    <td class = "operate">
                        <a ng-href = "{{loop.url_edit}}"><i class = "icon icon-edit"></i>编辑</a>
                        <a href = "javascript:;" ng-click = "del(loop.id,$index)"><i class = "icon icon-trash"></i>删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class = "pt-list-footer">
                <div class = "pt-list-operate f-fl"></div>
                <div class = "f-clear"></div>
            </div>
        </form>
    </div>
</div>
{include file="/application/admin/view/public_indexjs.html"}