<h1 class="ptcms-install-title">安装成功!</h1>
<div class="ptcms-install-body">
    <div class="message success">
        您的管理员账户是: <strong class="mono">{$admin.adminuser}</strong><br>
        您的管理员密码是: <strong class="mono">{$admin.adminpwd}</strong>
    </div>

    <div class="p message notice">
        <a target="_blank" href="http://www.ptcms.com">参与用户调查, 帮助我们完善产品</a>
    </div>

    <div class="session">
        <p>您可以将下面两个链接保存到您的收藏夹:</p>
        <ul>
            <li><a href="{$admin.siteurl}/admin.php" target="_blank">点击这里访问您的控制面板</a></li>
            <li><a href="{$admin.siteurl}" target="_blank">点击这里查看您的网站</a></li>
        </ul>
    </div>
    <p>希望您能尽情享用 {$pt.proname} 带来的乐趣!</p>
</div>