<div class="pt-set-wrap">
    <div class = "alert alert-danger alert-dismissable ">
        <p>该功能会清空站点数据,请谨慎操作</p>
    </div>
    <div class="pt-set-box">
        <form action="__SELF__" method="post" enctype="multipart/form-data" class="vform">
            <div class="pt-tab-button">
                <div class="pt-set-info">
                    <div class="line">
                        <input class="btn btn-success" type="submit" value=" 清空站点 " />&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>