<div class = "pt-set-wrap">
    <h4 class = "pt-msg-title"><b class = "f-fl">修改广告</b></h4>
    <div class = "pt-set-box">
        <form action = "__SELF__" method = "post" enctype = "multipart/form-data" class = "vform">
            <div class = "pt-set-content">
                <div class = "pt-set-info">
                    <div class = "line">
                        <b>广告名称：</b>
                        <label><input name = "name" type = "text" value = "{$info.name}" class = "input-text w450" datatype = "*" /></label>
                    </div>
                </div>
                <div class = "pt-set-info">
                    <div class = "line">
                        <b>广告标识：</b>
                        <label><input type = "text" value = "{$info.key}" class = "input-text w450" readonly disabled/></label>
                    </div>
                </div>
                <div class = "pt-set-info">
                    <div class = "line">
                        <b>广告代码：</b>
                        <label><textarea name = "code" class="input-box w450" style="height:150px">{$info.code}</textarea></label>
                    </div>
                </div>
                <div class = "pt-set-info">
                    <div class = "line">
                        <b>广告宽：</b>
                        <label><input name = "width" type = "text" value = "{$info.width}" class = "input-text w450"/></label>
                    </div>
                </div>
                <div class = "pt-set-info">
                    <div class = "line">
                        <b>广告高：</b>
                        <label><input name = "height" type = "text" value = "{$info.height}" class = "input-text w450" /></label>
                    </div>
                </div>
                <div class = "pt-set-info">
                    <div class = "line">
                        <b>广告描述：</b>
                        <label><textarea name = "intro" class="input-box w450">{$info.intro}</textarea></label>
                    </div>
                </div>
                <div class = "pt-set-info">
                    <div class = "line"><b>广告类型：</b>
                        <label>
                            <input name = "type" type = "radio" value = "1" checked/>html代码
                        </label>
                        <label>
                            <input name = "type" type = "radio" value = "2"  />js代码
                        </label>
                    </div>
                </div>

                <div class = "pt-set-info">
                    <div class = "line"><b>广告状态：</b>
                        <label>
                            <input name = "status" type = "radio" value = "1" checked />正常
                        </label>
                        <label>
                            <input name = "status" type = "radio" value = '0' />禁用
                        </label>
                    </div>
                </div>
            </div>
            <div class = "pt-tab-button">
                <div class = "pt-set-info">
                    <div class = "line">
                        <b></b>
                        <input type = "hidden" name = "id" value="{$info.id}"/>
                        <input class = "btn btn-success" type = "submit" value = " 修改广告 " />&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type = "text/javascript">
    $(function(){
        $('input[name=type][value={$info.type}]').attr('checked','checked');
        $('input[name=status][value={$info.status}]').attr('checked','checked');
    });
</script>