<div class="pt-set-wrap">
    <h4 class="pt-msg-title"><b class="f-fl">列表采集</b></h4>
    <div class="pt-set-box">
        <form action="__SELF__" method="get" enctype="multipart/form-data" class="vform">
            <input type="hidden" name="m" value="rule">
            <input type="hidden" name="c" value="collect">
            <input type="hidden" name="a" value="list">
            <div class="pt-set-content">
                <div class="pt-set-info">
                    <div class="line">
                        <b>选用规则：</b>
                        <label>
                            <select class="input-box w450" name="id">
                                <option value="">请选择规则</option>
                                {loop=list}
                                <option value="{$loop.id}" {if $ruleid==$loop.id}selected{/if}>{$loop.name}</option>
                                {/loop}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="pt-set-info">
                    <div class="line">
                        <b>列表页地址：</b>
                        <label><input name="url" type="text" value="" class="input-text w450" placeholder="请输入自定义采集的列表页"/></label>
                        <span class="Validform_checktip">分页位置请用[页码]替代</span>
                    </div>
                </div>
                <div class="pt-set-info">
                    <div class="line">
                        <b>起始页码：</b>
                        <label><input name="startid" type="text" value="1" class="input-text w450" datatype="n"/></label>
                    </div>
                </div>
                <div class="pt-set-info">
                    <div class="line">
                        <b>截止页码：</b>
                        <label><input name="endid" type="text" value="1" class="input-text w450"/></label>

                    </div>
                </div>
                <div class="pt-set-info">
                    <div class="line">
                        <b>采集间隔时间：</b>
                        <label><input name="interval" type="text" class="input-text w450" value="10"/></label>
                    </div>
                </div>
            </div>
            <div class="pt-tab-button">
                <div class="pt-set-info">
                    <div class="line">
                        <b></b>
                        <input class="btn btn-success" type="submit" value=" 开始采集 " />&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/plugin/datepicker/WdatePicker.js"></script>