<div class="pt-set-wrap">
    <h4 class="pt-msg-title"><b class="f-fl">单页采集</b></h4>
    <div class="pt-set-box">
        <form action="__SELF__" method="post" enctype="multipart/form-data" class="vform">
            <div class="pt-set-content">
                <div class="pt-set-info">
                    <div class="line">
                        <b>选用规则：</b>
                        <label>
                            <select class="input-box w450" name="id">
                                <option value="">请选择规则</option>
                                {loop=list}
                                <option value="{$loop.id}" {if $id==$loop.id}selected{/if}>{$loop.name}</option>
                                {/loop}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="pt-set-info">
                    <div class="line">
                        <b>采集间隔时间：</b>
                        <label><input name="interval" type="text" value="30" class="input-text w450" datatype="*" /></label>
                        <span class="Validform_checktip">单位秒，0只运行一次，大于0为循环运行</span>
                    </div>
                </div>
                <div class="pt-set-info">
                    <div class="line"><b>采集形式：</b>
                        <label>
                            <input name="status" type="radio" value='0' checked/>直接采集(需保持浏览器打开状态)
                        </label>
                        <label>
                            <input name="status" type="radio" value="1" />加入后台计划任务（后台运行）
                        </label>
                    </div>
                </div>
            </div>
            <div class="pt-tab-button">
                <div class="pt-set-info">
                    <div class="line">
                        <b></b>
                        <input class="btn btn-success" type="submit" value=" 添加采集 " />&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/plugin/datepicker/WdatePicker.js"></script>
<script type="text/javascript">
</script>